<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slider con vue</title>
        <link rel="stylesheet" href="slider/css/strings.css">
        <link rel="stylesheet" href="slider/css/slider.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <div id="editable_slider">
            <div class="container-strings">
                <div class="inputs">
                  <label for="href">texto</label>
                  <input type="text" name="text" value="" v-model='item_on_edit.text'>
                </div>
              <div class="inputs">
                <label for="href">Link</label>
                <input type="text" name="href" value="" v-model='item_on_edit.href'>
              </div>
              <div class="inputs">
                <label for="img_url">Link de image</label>
                <input type="text" name="img_url" value="" v-model='item_on_edit.img.src' class="url_type">
              </div>
              <div class="inputs">
                <label for="alt">Texto alternativo de la imagen</label>
                <input type="text" name="alt" value="" v-model='item_on_edit.img.alt' class="text_type">
              </div>
              <div class="inputs">
                <label for="title">Título de la imagen</label>
                <input type="text" name="title" value="" v-model='item_on_edit.img.title' class="text_type">
              </div>
              <a href="#" v-on:click='create' class="button" v-if='is_valid || !item_on_edit[".key"]'>Agregar tarea</a>
              <button type="button" class="btn btn-default" v-if="item_on_edit['.key']" v-on:click="update(item_on_edit)">Update</button>
            </div>
            <div class="" v-if='slide.length > 0'>
                <div class="container" v-on:mouseover='pause' v-on:mouseout='plays'>
                    <div class="list" v-for='(word,index) in slide' :key="word['.key']">
                        <p>{{word.text}}</p>
                        <a :href="word.href">
                            <span>{{word.img.title}}</span>
                        </a>
                        <img class="imgs" :src="word.img.src" :alt="word.img.alt" :title="word.img.title">
                        <div class="icon-container">
                            <a href="#" class="icon" v-on:click="edit(word)" v-if='!is_edit'><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="icon" v-on:click="eliminar(word['.key'])"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div v-if='slide.length > 1'>
                    <button type="button" name="button" v-on:click="prev"><</button>
                    <button type="button" name="button" v-on:click="next">></button>
                </div>
            </div>
            <div class="container-strings" v-else>
              ya has borrado todo
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <script type="text/javascript" src="slider/js/editable_slider.js"></script>
    </body>
</html>
