<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="vue/css/slider.css">
    <link rel="stylesheet" href="vue/css/strings.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>

    <!-- <div id="arraycito">
      <div class="container" v-on:mouseover='pause' v-on:mouseout='play'>
        <div class="list" v-for='(img,index) in imgs'>
          <img class="img" v-bind:class='{active: index == 0 }'
          v-bind:src='img.url' v-bind:alt='img.txt'>
        </div>
      </div>
      <div class="">
        <button type="button" name="button" v-on:click="prev"><</button>
        <button type="button" name="button" v-on:click="next">></button>
      </div>
    </div> -->

    <!-- <div id="strings">
      <div class="container-strings">
        <div class="inputs">
          <label for="href">Link</label>
          <input type="text" name="href" value="" v-model='item_on_edit.href'>
        </div>
        <div class="inputs">
          <label for="img_url">Link de image</label>
          <input type="text" name="img_url" value="" v-model='item_on_edit.img.src' class="url_type">
        </div>
        <div class="inputs">
          <label for="alt">Texto alternativo de la imagen</label>
          <input type="text" name="alt" value="" v-model='item_on_edit.img.alt' class="text_type">
        </div>
        <div class="inputs">
          <label for="title">Título de la imagen</label>
          <input type="text" name="title" value="" v-model='item_on_edit.img.title' class="text_type">
        </div>
        <a href="#" v-on:click='create' v-on:keyup.enter='create' class="button" v-if='is_valid'>Agregar tarea</a>
      </div>
      <ul class="containers" v-if='words.length > 0'>
        <li v-for='(word, index) in words' class="list-strings">
          <a :href="word.href">
             <span>{{word.img.title}}</span>
          </a>
          <img class="imgs" :src="word.img.src" :alt="word.img.alt" :title="word.img.title">
          <div class="icon-container">
            <a href="#" class="icon" v-on:click="edit(index)" v-if='!is_edit'><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="icon" v-on:click="eliminar(index)"><i class="far fa-trash-alt"></i></a>
          </div>
        </li>
      </ul>
      <div class="container-strings" v-else>
        ya has borrado todo
      </div>
    </div> -->

    <!-- <div id="editable_slider">
        <div class="container-strings">
          <div class="inputs">
            <label for="href">Link</label>
            <input type="text" name="href" value="" v-model='item_on_edit.href'>
          </div>
          <div class="inputs">
            <label for="img_url">Link de image</label>
            <input type="text" name="img_url" value="" v-model='item_on_edit.img.src' class="url_type">
          </div>
          <div class="inputs">
            <label for="alt">Texto alternativo de la imagen</label>
            <input type="text" name="alt" value="" v-model='item_on_edit.img.alt' class="text_type">
          </div>
          <div class="inputs">
            <label for="title">Título de la imagen</label>
            <input type="text" name="title" value="" v-model='item_on_edit.img.title' class="text_type">
          </div>
          <a href="#" v-on:click='create' class="button" v-if='is_valid'>Agregar tarea</a>
        </div>
        <div class="" v-if='words.length > 0'>
            <div class="container" v-on:mouseover='pause' v-on:mouseout='plays'>
                <div class="list" v-for='(word,index) in words'>
                    <a :href="word.href">
                        <span>{{word.img.title}}</span>
                    </a>
                    <img class="imgs" :src="word.img.src" :alt="word.img.alt" :title="word.img.title">
                    <div class="icon-container">
                        <a href="#" class="icon" v-on:click="edit(index)" v-if='!is_edit'><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" class="icon" v-on:click="eliminar(index)"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div v-if='words.length > 1'>
                <button type="button" name="button" v-on:click="prev"><</button>
                <button type="button" name="button" v-on:click="next">></button>
            </div>
        </div>
        <div class="container-strings" v-else>
          ya has borrado todo
        </div>
    </div> -->
    <div id="container">
        <div class="" style="position: relative">
            <caracol
                v-for='(size,index) in sizes'
                :size='size'
            >
                <!-- <square  v-for='(cuadrado,index) in cuadrados' :square='square'
                ></square> -->
            <caracol>
        </div>
    </div>

    <!-- <script type="x/templates" id="square-template" >
        <div >
            <div :style='styles'>
            </div>
        </div>
    </script> -->

    <script type="x/templates" id="caracol-template" >
        <div style='position: absolute'>
            <div :style='[styles]'>
                <div :style='square'></div>
            </div>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <!-- <script type="text/javascript" src="vue/js/slider.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/javascript" src="vue/js/strings.js"></script> -->
    <!-- <script type="text/javascript" src="vue/js/editable_slider.js"></script> -->
    <script type="text/javascript" src="vue/js/caracol.js"></script>
  </body>
</html>
