.container {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.img {
  max-width: 350px;
  display: none;
}
.list {
  list-style: none;
}
.active {
  border: 1px solid mediumvioletred;
  display: block;
}
