.container-strings {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.containers {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.list-strings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
  background-color: cadetblue;
  line-height: 30px;
  border-radius: 20%;
  text-align: center;
}

.icon-container {
  width: 100%;
  max-width: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: auto;
  color: white;
  background-color: cadetblue;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.imgs {
  width: 100%;
  max-width: 300px;
}

.inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}
.rotate {
    transform: rotate(90DEG);
}
